html{
	height: 100%;
}

body{
	min-height: 100%;
	/*z-index: 2;*/
}

#playerSound{
	width: 50%;
}

#wrapper{
	height: 100%;
}

/*MENU :*/

#resp_menu{
	background: rgb(245, 245, 245);
	color: black;
	font-family: 'Abel', arial, serif;
	text-transform: uppercase;
	font-size: 20px;
	border: none !important;
	margin-top: -90px;
	border-radius: 0 !important;
	margin-bottom: 90px;
}

#resp_menu  div  ul  li  a {
	color: black;
}

.active{
	color: rgb(228, 90, 63) !important;
}

#resp_menu div ul li {
/*	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;*/
	padding-right: 10px;
}

#resp_menu div ul li:hover{
	/*background: #9FBAB3;*/
	/*padding-right: 0px;
	padding-left: 10px;*/
}

#resp_menu div ul li:hover >  a{
	color: rgb(228, 90, 63) !important;
}


.sous_menu{
	position: absolute;
	list-style-type: none;
	width: 250px;
	padding: 0;
	margin: 2px;
	z-index: 99;
}

.sous_menu li {
	float: left;
	height: 30px;
	font-size: 20px;
	background: rgb(245, 245, 245);
	padding: 3px;
	margin: 1px;
}
.sous_menu li a:hover{
	text-decoration: none;
}

#img_header{
	display: block;
	margin: auto;
	height: 100%;
	overflow: hidden;
}

#img_header img {
	max-width: 100%;
	height: auto;
}

#header{
	height: 350px;
	overflow: hidden;
}

#top_bar{
	width: 100%;
	height: 24px;
	background: rgba(63, 60, 60, 0.77);
	color: white;
	position: fixed;
	top: 0px;
	z-index: 99999;
	/* display: table-row; */
}

#top_bar ul {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	height:100%;
	margin:0;
	padding: 0;
}

#top_bar ul li{
	float: right;
}

#top_bar ul li a{
	color: white !important;
	display: inline-block !important;
	height:24px !important;
}

#top_bar ul li a:hover{
	background: rgb(228, 90, 63) !important;
}

#top_bar ul li a img {
	margin-top: -8px;
}

/*HOME*/

#weekly_video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#weekly_video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#badge_cat img{
	height: 50px;
	width: 50px;
}

/*Grid*/
.img_grid{
	position: relative;
	width: 220px;
	height: 220px;
	z-index: -999;
}

.div_grid{
	width: 220px;
	height: 220px;
	float: left;
	margin: 20px 5px 5px 5px;
}

.div_grid a{
	font-family: 'Abel', arial, serif;
	color: white;
	text-transform: uppercase;
	font-size: 35px;
	display: block;
	position: absolute;
	z-index: 0;
	width: 220px;
	height: 220px;
	text-shadow: 3px 2px 4px black;
	text-overflow: ellipsis;
}

.arrow-right {
	-moz-transition: all .5s;
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 220px 220px 0 0;
	border-color: rgba(0, 0, 0, 0.49) transparent transparent transparent;
	position: absolute;
	top: 0;
}

.div_grid a:hover > .arrow-right{
	border-color:  transparent transparent rgba(0, 0, 0, 0.49) transparent;
	border-width: 0 0 220px 220px ;
/*	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);*/
}
.div_grid a:hover > .huge-hr{
	border-radius: 20% 10% 20% 10%;
}

.div_grid a:hover {
	color: white;
	text-decoration: none;
}

/*Partners*/

#itmm{
	border: 1px solid black;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 20px;
	right: -25px;
}

/* portfolio */

#pics_viewer{
	position: fixed;
	top: 24px;
	left: 0;
	width: 100%;
	/* margin-left: 5%; */
	padding: 15px;
	background: rgba(0, 0, 0, 0.49);
	/* align-content: center; */
	min-height: 100%;
	overflow: scroll;
}

#pics_viewer img {
	display: block;
	max-width: 90%;
	max-height: 100%;
	margin: auto;
	padding: 2px;
	box-shadow: 1px 1px 19px 8px rgb(27, 25, 25);
	margin-bottom: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pics_viewer .pic_close{
	position: absolute;
	right: 2px;
	top: 4px;
	height: 35px;
	width: 35px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.28);
}

#pics_viewer .pic_close:hover{
	background: rgba(255, 255, 255, 0.62);
	box-shadow: 5px 5px 5px black;
}

#pics_viewer .prev_pic{
	position: absolute;
	left: 2px;
	top: 2px;
	height: 90%;
	width: 45%;
	margin-left: 5%
}


#pics_viewer .next_pic{
	position: absolute;
	right: 2px;
	top: 2px;
	height: 90%;
	width: 45%;
	margin-right: 5%
}

/*.partner_block{
	width: 25%;
	float: left;
}*/

#playerSound{
	position: fixed;
	bottom: 0;
	left: 0;
}

.btn_soundcloud{
	position: fixed;
	bottom: 0;
	right: 0;	
}

#sound{
	display: block;
	height: 250px;
	width: 100%;
}

.badge-g{
	max-width: 300px;
	height: auto;
	width: 35vw;
}

.team_badge{
	position: relative;
	left: 100%;
	margin-left: -220px;
	padding-bottom: 50px;
	margin-top: -25px;
}

.weekly_badge{
	/* border: 1px solid green; */
	position: absolute;
	z-index: 999;
	margin-top: -31px;
	/*background: rgba(255, 255, 255, 0.5);*/
	/* background: wheat; */
}

.team-text{
	text-align: justify;
	max-width: 600px;
	margin: auto;
	width: 50vw;
}

.arr_pn{
	display: block;
	position: absolute;
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: 80px;
}

.prev_vid{
	left:0;
}

.next_vid{
	right :0;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.img100{
	height:100%;
}

.header_titre{
	float: right;
	padding-right: 80px;
}

.header_titre h2{
	text-align: left;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
}

.header_titre h3{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
}

.block_titre{
}

.block_text{
/*	top: 165px;
	left: 250px;*/
}

.huge-hr{
	-moz-transition: all .5s;
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
	height: 15px;
	/* border: 5px !important; */
	background: rgba(97, 97, 97, 0.76);
	border-radius: 10% 20% 10% 20%;
}

.non-abs{
	position: inherit !important;
}

#main_frame{
	display: block;
}


.page{
	-moz-transition: all 1s;
	-webkit-transition: all 1s; 
	-o-transition: all 1s; 
	transition: all 1s;
}

.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter 		{  
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;    
}


	/*MEDIA QUERYS*/

@media (max-width: 793px) {

	.sous_menu{
		position: inherit;
		list-style-type: none;
		padding: 0;
		margin: 2px;
	}

	.sous_menu li {
		float: none;
		height: 30px;
		font-size: 20px;
		background: rgb(245, 245, 245);
		padding: 3px;
		margin: 1px;
		margin-left: 45px;
		width: 130px;
	}

	#resp_menu div ul li a{
		display: inline-block;
	}
}



/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {	
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
