html{
	height: 100%;
}

body{
	min-height: 100%;
	/*z-index: 2;*/
}

#playerSound{
	width: 100%;
}

#wrapper{
	height: 100%;
}

/*MENU :*/

#resp_menu{
	background: rgb(245, 245, 245);
	color: black;
	font-family: 'Abel', arial, serif;
	text-transform: uppercase;
	font-size: 20px;
	border: none !important;
	margin-top: -90px;
	border-radius: 0 !important;
	margin-bottom: 90px;
}

#resp_menu  div  ul  li  a {
	color: black;
}

.active{
	color: rgb(228, 90, 63) !important;
}

#resp_menu div ul li {
/*	-moz-transition: all .5s; 
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;*/
	padding-right: 10px;
}

#resp_menu div ul li:hover{
	/*background: #9FBAB3;*/
	/*padding-right: 0px;
	padding-left: 10px;*/
}

#resp_menu div ul li:hover >  a{
	color: rgb(228, 90, 63) !important;
}


.sous_menu{
	position: absolute;
	list-style-type: none;
	width: 250px;
	padding: 0;
	margin: 2px;
	z-index: 99;
}

.sous_menu li {
	float: left;
	height: 30px;
	font-size: 20px;
	background: rgb(245, 245, 245);
	padding: 3px;
	margin: 1px;
}
.sous_menu li a:hover{
	text-decoration: none;
}

#img_header{
	display: block;
	margin: auto;
	height: 100%;
	overflow: hidden;
}

#img_header img {
	max-width: 100%;
	height: auto;
}

#header{
	height: 350px;
	overflow: hidden;
}

#top_bar{
	width: 100%;
	height: 24px;
	background: rgba(63, 60, 60, 0.77);
	color: white;
	position: fixed;
	top: 0px;
	z-index: 99999;
	/* display: table-row; */
}

#top_bar ul {
	list-style-type: none;
	display: inline-block;
	width: 100%;
	height:100%;
	margin:0;
	padding: 0;
}

#top_bar ul li{
	float: right;
}

#top_bar ul li a{
	color: white !important;
	display: inline-block !important;
	height:24px !important;
}

#top_bar ul li a:hover{
	background: rgb(228, 90, 63) !important;
}

#top_bar ul li a img {
	margin-top: -8px;
}

/*HOME*/

#weekly_video{
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

#weekly_video iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}

#badge_cat img{
	height: 50px;
	width: 50px;
}

/*Grid*/
.img_grid{
	position: relative;
	width: 150px;
	height: 150px;
	z-index: -999;
}

.div_grid{
	box-shadow: 0px 0px 4px 1px rgba(228, 90, 63, 0.5);
	width: 150px;
	height: 150px;
	float: left;
	margin: 20px 5px 5px 5px;
	-moz-transition: all .5s;
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
}

.div_grid:hover{
	padding-left: 5px;
	box-shadow: 0px 0px 9px 1px black;
}

.div_grid a{
	font-family: 'Abel', arial, serif;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	display: block;
	position: absolute;
	z-index: 0;
	width: 150px;
	height: 150px;
	text-shadow: 3px 2px 4px black;
	text-overflow: ellipsis;
	word-break: break-all;
}

.arrow-right {
/*	-moz-transition: all .3s;
	-webkit-transition: all .3s; 
	-o-transition: all .3s; 
	transition: all .3s;*/
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 150px 150px 0 0;
	border-color: rgba(0, 0, 0, 0.49) transparent transparent transparent;
	position: absolute;
	top: 0;
}

.div_grid a:hover > .arrow-right{
	border-color:  transparent transparent rgba(0, 0, 0, 0.49) transparent;
	border-width: 0 0 150px 150px ;
/*	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);*/
}
.div_grid a:hover > .huge-hr{
	border-radius: 20% 10% 20% 10%;
}

.div_grid a:hover {
	color: white;
	text-decoration: none;
}



/*Partners*/

#itmm{
	border: 1px solid black;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 20px;
	right: -25px;
}

/* portfolio */

#pics_viewer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* margin-left: 5%; */
	padding: 15px;
	background: rgba(0, 0, 0, 0.49);
	/* align-content: center; */
	min-height: 100%;
	overflow: scroll;
}

#pics_viewer img {
	display: block;
	max-height: 100%;
	margin: auto;
	padding: 2px;
	box-shadow: 1px 1px 19px 8px rgb(27, 25, 25);
	margin-bottom: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#pics_viewer .pic_close{
	position: absolute;
	right: 2px;
	top: 30px;
	height: 35px;
	width: 35px;
	padding: 10px;
	background: rgba(0, 0, 0, 0.28);
}

#pics_viewer .pic_close:hover{
	background: rgba(255, 255, 255, 0.62);
	box-shadow: 5px 5px 5px black;
}

#pics_viewer .prev_pic{
	position: absolute;
	left: 2px;
	top: 2px;
	height: 90%;
	width: 45%;
	margin-left: 5%
}


#pics_viewer .next_pic{
	position: absolute;
	right: 2px;
	top: 2px;
	height: 90%;
	width: 45%;
	margin-right: 5%
}

/*.partner_block{
	width: 25%;
	float: left;
}*/

#playerSound{
	position: fixed;
	bottom: 0;
	margin: 0;
	padding: 0;
	left: 0;
	z-index: 3;
}

.btn_soundcloud{
	position: fixed;
	bottom: 0;
	right: 0;	
}

#sound{
	display: block;
	height: 250px;
	width: 100%;
}

.badge-g{
	max-width: 300px;
	height: auto;
	width: 35vw;
}

.team_badge{
	position: relative;
	left: 100%;
	margin-left: -220px;
	padding-bottom: 50px;
	margin-top: -25px;
}

.weekly_badge{
	/* border: 1px solid green; */
	position: absolute;
	z-index: 1;
	margin-top: -31px;
	/*background: rgba(255, 255, 255, 0.5);*/
	/* background: wheat; */
}

.team-text{
	text-align: justify;
	max-width: 600px;
	margin: auto;
	width: 50vw;
}

.arr_pn{
	display: block;
	/*position: absolute;*/
	margin: 0;
	padding: 0;
	cursor: pointer;
	height: 80px;
	margin-top: 25%;
}

.prev_vid{
	float: left;
	margin-left: -28px;
}

.next_vid{
	float: right;
	margin-right: -28px;
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.img100{
	height:100%;
}

.header_titre{
	float: right;
	padding-right: 80px;
}

.header_titre h2{
	text-align: left;
	font-family: 'Droid Sans', sans-serif;
	text-transform: uppercase;
}

.header_titre h3{
	text-align: right;
	font-family: 'Open Sans Condensed', sans-serif;
}

.block_titre{
}

.block_text{
/*	top: 165px;
	left: 250px;*/
}

.huge-hr{
	-moz-transition: all .5s;
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
	height: 15px;
	/* border: 5px !important; */
	background: rgba(97, 97, 97, 0.76);
	border-radius: 10% 20% 10% 20%;
}

.non-abs{
	position: inherit !important;
}

#main_frame{
	display: block;
}

#fs-wrapper{
	position: fixed;
	top: 0;
	left: 0px;
	height: 100%;
	width: 100vw;
	background: rgba(0, 0, 0, 0.77);
	z-index: 9999;
}

.fs-vid iframe{
	height: 80% !important;
	width: 80% !important;
	margin-left: 10% !important;
	margin-top: 10% !important;
}
.close {
	position: relative;
	float: right;
	margin-right: 9%;
	margin-top: 9%;
	z-index: 2;
}

.mt10{
	margin-top: 10% !important;
}


.btn-soundcloud{
	border: none !important;
}

.btn-soundcloud:hover{
	color: rgb(228, 90, 63) !important;
	background: white !important;
}



#loader{
	display: none;
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0px;
}

#loader img {
	display: block;
	margin: auto;
}

#wall_pics{
	position: absolute;
	top: 400px;
	left: 0;
	margin: 0;
	padding: 0;
	width: 99vw;
	z-index: -999999;
}

#wall_pics span {
	margin: 0;
	padding: 0;
}

#wall_pics span img {
	opacity: 0.20;
	width: 32vw;
	margin:0;
	padding: 0;
	height: auto;
}

#blck{
	width: 45%;
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
}

#blck li{
	height: 300px;
}

#blck li h3{
	margin-bottom: 30px;
}

#partner{
	display: block;
	width: 150px;
	height: 350px;
	float: left;
	margin-left: 55px;
	box-shadow: 4px 3px 7px -3px #000;
	-moz-transition: all .2s;
	-webkit-transition: all .2s; 
	-o-transition: all .2s; 
	transition: all .2s;
}

#partner:hover {
	box-shadow: 4px 3px 7px -3px rgb(228, 90, 63);	
}

#partner .logo{
	width: 100%;
	height: 100%;
}

#partner .logo img {
	max-width: 100%;
	max-height: 100%;
	height: auto;
}
.part_desc {
	opacity: 0;
	-moz-transition: all .5s;
	-webkit-transition: all .5s; 
	-o-transition: all .5s; 
	transition: all .5s;
	position: relative;
	top: -400px;
	left: 80px;
	width: 115px;
	background: white;
	border: 1px solid grey;
	padding: 10px;
	border-radius: 27px 27px 27px 0px;
}

#partner:hover .part_desc{
	opacity: 1;
}

#partner a {
	text-decoration: none;
	color: black;
}


#partner a:hover {
	text-decoration: none;
	color: black;
}

.icn-search{
	margin:0;
	padding:0;
	position: absolute !important;
}

#search:focus{
}

#res{
	display: none;
	width: 60%;
	margin: auto;
	min-height: 240px;
}















	/*MEDIA QUERYS*/

@media (max-width: 800px) {

	.sous_menu{
		position: inherit;
		list-style-type: none;
		padding: 0;
		margin: 2px;
	}

	.sous_menu li {
		float: none;
		height: 30px;
		font-size: 20px;
		background: rgb(245, 245, 245);
		padding: 3px;
		margin: 1px;
		margin-left: 45px;
		width: 130px;
	}

	#resp_menu div ul li a{
		display: inline-block;
	}
}


/*html{height:100%}body{min-height:100%}#playerSound{width:100%}#wrapper{height:100%}#resp_menu{background:#f5f5f5;color:#000;font-family:Abel,arial,serif;text-transform:uppercase;font-size:20px;border:none!important;margin-top:-90px;border-radius:0!important;margin-bottom:90px}#resp_menu div ul li a{color:#000}.active{color:#e45a3f!important}#resp_menu div ul li{padding-right:10px}#resp_menu div ul li:hover>a{color:#e45a3f!important}.sous_menu{position:absolute;list-style-type:none;width:250px;padding:0;margin:2px;z-index:99}.sous_menu li{float:left;height:30px;font-size:20px;background:#f5f5f5;padding:3px;margin:1px}.sous_menu li a:hover{text-decoration:none}#img_header{display:block;margin:auto;height:100%;overflow:hidden}#img_header img{max-width:100%;height:auto}#header{height:350px;overflow:hidden}#top_bar{width:100%;height:24px;background:rgba(63,60,60,.77);color:#fff;position:fixed;top:0;z-index:99999}#top_bar ul{list-style-type:none;display:inline-block;width:100%;height:100%;margin:0;padding:0}#top_bar ul li{float:right}#top_bar ul li a{color:#fff!important;display:inline-block!important;height:24px!important}#top_bar ul li a:hover{background:#e45a3f!important}#top_bar ul li a img{margin-top:-8px}#weekly_video{position:relative;padding-bottom:56.25%;padding-top:25px;height:0}#weekly_video iframe{position:absolute;top:0;left:0;width:100%;height:100%}#badge_cat img{height:50px;width:50px}.img_grid{position:relative;width:220px;height:220px;z-index:-999}.div_grid{box-shadow:0 0 9px 1px #000;width:220px;height:220px;float:left;margin:20px 5px 5px;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s}.div_grid a{font-family:Abel,arial,serif;color:#fff;text-transform:uppercase;font-size:35px;display:block;position:absolute;z-index:0;width:220px;height:220px;text-shadow:3px 2px 4px #000;text-overflow:ellipsis;word-break:break-all}.arrow-right{-moz-transition:all .3s;-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;width:0;height:0;border-style:solid;border-width:220px 220px 0 0;border-color:rgba(0,0,0,.49) transparent transparent;position:absolute;top:0}.div_grid a:hover>.arrow-right{border-color:transparent transparent rgba(0,0,0,.49);border-width:0 0 220px 220px}.div_grid a:hover>.huge-hr{border-radius:20% 10%}.div_grid a:hover{color:#fff;text-decoration:none}.div_grid:hover{padding-left:5px;box-shadow:0 0 4px 1px rgba(228,90,63,.5)}#itmm{border:1px solid #000;width:150px;height:150px;position:absolute;top:20px;right:-25px}#pics_viewer{position:fixed;top:0;left:0;width:100%;height:100%;padding:15px;background:rgba(0,0,0,.49);min-height:100%;overflow:scroll}#pics_viewer img{display:block;max-height:100%;margin:auto auto 5px;padding:2px;box-shadow:1px 1px 19px 8px #1b1919;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}#pics_viewer .pic_close{position:absolute;right:2px;top:30px;height:35px;width:35px;padding:10px;background:rgba(0,0,0,.28)}#pics_viewer .pic_close:hover{background:rgba(255,255,255,.62);box-shadow:5px 5px 5px #000}#pics_viewer .prev_pic{position:absolute;left:2px;top:2px;height:90%;width:45%;margin-left:5%}#pics_viewer .next_pic{position:absolute;right:2px;top:2px;height:90%;width:45%;margin-right:5%}#playerSound{position:fixed;bottom:0;margin:0;padding:0;left:0;z-index:3}.btn_soundcloud{position:fixed;bottom:0;right:0}#sound{display:block;height:250px;width:100%}.badge-g{max-width:300px;height:auto;width:35vw}.team_badge{position:relative;left:100%;margin-left:-220px;padding-bottom:50px;margin-top:-25px}.weekly_badge{position:absolute;z-index:1;margin-top:-31px}.team-text{text-align:justify;max-width:600px;margin:auto;width:50vw}.arr_pn{display:block;margin:25% 0 0;padding:0;cursor:pointer;height:80px}.prev_vid{float:left;margin-left:-50px}.next_vid{float:right;margin-right:-50px;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}.img100{height:100%}.header_titre{float:right;padding-right:80px}.header_titre h2{text-align:left;font-family:'Droid Sans',sans-serif;text-transform:uppercase}.header_titre h3{text-align:right;font-family:'Open Sans Condensed',sans-serif}.huge-hr{-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;height:15px;background:rgba(97,97,97,.76);border-radius:10% 20%}.non-abs{position:inherit!important}#main_frame{display:block}#fs-wrapper{position:fixed;top:0;left:0;height:100%;width:100vw;background:rgba(0,0,0,.77);z-index:9999}.fs-vid iframe{height:80%!important;width:80%!important;margin-left:10%!important;margin-top:10%!important}.close{position:relative;float:right;margin-right:9%;margin-top:9%;z-index:2}.mt10{margin-top:10%!important}.btn-soundcloud{border:none!important}.btn-soundcloud:hover{color:#e45a3f!important;background:#fff!important}#loader{display:none;position:relative;padding-bottom:56.25%;padding-top:25px;height:0}#loader img{display:block;margin:auto}#wall_pics{position:absolute;top:400px;left:0;margin:0;padding:0;width:99vw;z-index:-999999}#wall_pics span{margin:0;padding:0}#wall_pics span img{opacity:.2;width:32vw;margin:0;padding:0;height:auto}#blck{width:45%;margin:0;padding:0;float:left;list-style-type:none}#blck li{height:300px}#blck li h3{margin-bottom:30px}#partner{display:block;width:150px;height:350px;float:left;margin-left:55px;box-shadow:4px 3px 7px -3px #000;-moz-transition:all .2s;-webkit-transition:all .2s;-o-transition:all .2s;transition:all .2s}#partner:hover{box-shadow:4px 3px 7px -3px #e45a3f}#partner .logo{width:100%;height:100%}#partner .logo img{max-width:100%;max-height:100%;height:auto}.part_desc{opacity:0;-moz-transition:all .5s;-webkit-transition:all .5s;-o-transition:all .5s;transition:all .5s;position:relative;top:-400px;left:80px;width:115px;background:#fff;border:1px solid grey;padding:10px;border-radius:27px 27px 27px 0}#partner:hover .part_desc{opacity:1}#partner a,#partner a:hover{text-decoration:none;color:#000}.icn-search{margin:0;padding:0;position:absolute!important}#res{display:none;width:60%;margin:auto;min-height:240px}@media (max-width:800px){.sous_menu{position:inherit;list-style-type:none;padding:0;margin:2px}.sous_menu li{float:none;height:30px;font-size:20px;background:#f5f5f5;padding:3px;margin:1px 1px 1px 45px;width:130px}#resp_menu div ul li a{display:inline-block}}*/