<div class="container">
	<h1 ng-bind-html="artiste.artiste.name"></h1>
	<img src="{{artiste.artiste.path_vignette}}" alt="vignette artiste" class="img_grid">
	<h2 ng-show="artiste.videos[0].category == 1">Visiteur!</h2>
	<div class='txt'  ng-bind-html="artiste.artiste.text"></div>
	<h3>
		<a  class="btn btn-default btn-lg" href="{{artiste.artiste.url}}">Site web</a>
	</h3>
	<a class="btn btn-default btn-lg" href="#/portfolio?path={{ artiste.artiste.path_pics }}" title="portfolio {{artiste.artiste.name}}" alt="portfolio {{artiste.artiste.name}}">
	<span class="pics_link glyphicon glyphicon-picture" style="font-size: 2.5em"></span>
	Portfolio</a>
	<div id="videos">
		<div ng-repeat="video in artiste.videos">
			<h2 ng-bind-html="video.name"></h2>
			<img ng-show="video.weekly == 1" src="img/badges/weekly.png" alt="logo weekly" class='weekly_badge badge-g'>
			<div id="weekly_video" ng-bind-html="video.frame"></div>
		</div>
	</div>
	<div id="wall_pics">
		<span ng-repeat="img in pics">
			<img src="{{img}}" class="img_wall"> 
		</span>
	</div>
	<div id="lol"></div>
</div>
