<div class="container">
<h1>{{artiste.artiste.name}}</h1>
<img src="{{artiste.artiste.path_vignette}}" alt="vignette artiste" class="img_grid">
<h2 ng-show="artiste.videos[0].category == 1">Visiteur!</h2>
<h2 ng-show="artiste.videos[0].category == 0">Local!</h2>
<div class='txt'  ng-bind-html="artiste.artiste.text"></div>
<h3><a href="{{artiste.artiste.url}}">Site web</a></h3>
<div cid="videos">
	<div ng-repeat="video in artiste.videos">
		<img ng-show="video.weekly == 1" src="img/badges/weekly.png" alt="logo weekly" class='weekly_badge badge-g'>
		<div id="weekly_video" ng-bind-html="video.frame"></div>
	</div>
</div>
<div id="lol"></div>
</div>
