<div ng-controller="headCtrl" style="height:100%;">

<div ng-if="fs == 1">
	<div id="fs-wrapper">
		<span class="close glyphicon glyphicon-remove" title="fermer (Echap)"></span>
		<img ng-show="weekly.video.weekly == 1" src="img/badges/weekly.png" alt="logo weekly" class='weekly_badge badge-g mt10'>
		<div id="weekly_video" class="fs-vid" ng-bind-html="weekly.video.frame"></div>
	</div>
</div>

	<div class='team-text'>
		<div ng-bind-html="weekly.video.text"></div>
		<img src="img/badges/team.png" alt="logo team" class='team_badge badge-g'>
	</div>
	<div id="main_frame">
		<div id="loader"><img  src ="img/badges/loadta.gif"></div>
		<img ng-show="weekly.video.weekly == 1" src="img/badges/weekly.png" alt="logo weekly" class='weekly_badge badge-g'>
		<span ng-click="change_video('prev')" class="prev_vid arr_pn"><img class='img100' src="img/headers/arr.jpg"></span>
		<span ng-click="change_video('next')" class="next_vid arr_pn"><img class='img100' src="img/headers/arr.jpg"></span>
		<div id="weekly_video" ng-bind-html="weekly.video.frame"></div>
	</div>
	<div class="container container-fluid block_titre" id="wrapper" >
		<div class="fb-like" data-href="http://localhost/public/adminta/#/artistes/{{ weekly.artiste.id }}" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		<div class="div_grid" >
			<a href="#/artistes/{{ weekly.artiste.id }}" ><div class="arrow-right"></div></a>
			<span ng-if="weekly.artiste.path_vignette == '' ">
				<img src="img/badges/weekly.png" class="img_grid">
			</span>
			<span ng-if="weekly.artiste.path_vignette != ''">
				<img src="{{weekly.artiste.path_vignette}}" class="img_grid">
			</span>
			<!-- <hr class="huge-hr"> -->
		</div>
		<div class="header_titre">
			<h2 ng-bind-html="weekly.artiste.name"></h2>
			<h3 ng-bind-html="weekly.video.name"></h3>
		</div>
		<div class="block_text">
			<h3><a href="#/quartiers/{{weekly.quartier.id}}" ng-bind-html="weekly.quartier.name"></a></h3>
			<span ng-if="weekly.video.category == 1 " id="badge_cat">
				<img src="img/badges/visiteur.jpg">
			</span>
			<div ng-bind-html="weekly.artiste.text"></div>
		</div>
	</div>

</div>
