<div ng-keyup="change()">
<div ng-repeat="art in artistes" class="div_grid non-abs pull-left">
	<a ng-click="name_click(art.path_pics)" ><span ng-bind-html="art.name"></span><div class="arrow-right"></div></a>
	<span ng-if="art.path_vignette == ''">
		<img src="img/badges/visiteur.jpg" class="img_grid">
	</span>
	<span ng-if="art.path_vignette != ''">
		<img src="{{art.path_vignette}}" class="img_grid">
	</span>
</div>
<div ng-repeat="art in quartiers" class="div_grid non-abs pull-left">
	<a ng-click="name_click(art.path_pics)" ><span ng-bind-html="art.name"></span><div class="arrow-right"></div></a>
	<span ng-if="art.path_vignette == ''">
		<img src="img/badges/visiteur.jpg" class="img_grid">
	</span>
	<span ng-if="art.path_vignette != ''">
		<img src="{{art.path_vignette}}" class="img_grid">
	</span>
</div>
<div class="div_grid non-abs pull-left">
	<a ng-click="name_click('../img/uniques/team')" >Team<div class="arrow-right"></div></a>
	<img src="img/badges/team.png" class="img_grid">
</div>
<div class="div_grid non-abs pull-left">
	<a ng-click="name_click('../img/uniques/off')" >Off<div class="arrow-right"></div></a>
	<img src="img/badges/loadta.gif" class="img_grid">
</div>
<div id="pics_viewer">
	<span class="pic_close glyphicon glyphicon-remove" title="fermer (Echap)"></span>
	<span class="prev_pic"  ng-click="prev_pic()"></span><img src="{{ pic }}"><span class="next_pic"  ng-click="next_pic()"></span>
</div>
<div id="wall_pics">
	<span ng-repeat="img in back">
		<img src="{{img}}" class="img_wall"> 
	</span>
</div>
</div>
